.home-container-bg {
  background-image: url('https://wallpapers.com/images/featured-full/movie-9pvmdtvz4cb0xl37.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 90vh;
  margin: 0px;
  padding: 0px;
}
