body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #0d208c;
  background: radial-gradient(
    circle,
    rgba(13, 32, 140, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
  height: 90vh;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* Headings */
h1,
h2 {
  text-align: center;
  color: #fffafa;
}
h3,
p {
  color: #bdbbbb;
}
/* Movie List */
.movie-list,
.director-list {
  list-style: none;
  padding: 0;
}

.movie-list li,
.director-list li {
  background: white;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Form Section */
form,
.form-box {
  background: rgb(22, 53, 97);
  padding: 15px;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input {
  width: 95%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Button */
button {
  padding: 10px 18px;
  background-color: #4b7bec;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #3867d6;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.movie-card {
  background: rgb(45, 45, 45);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.movie-card h3 {
  margin-top: 10px;
  font-size: 16px;
}

.poster {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
}
li {
  list-style-type: none;
  color: #ffffff;
}

/* HOME */
.home-container {
  text-align: center;
  padding: 40px 20px;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #2d98da;
}

.home-subtitle {
  font-size: 1.2rem;
  color: #d0d0d0;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.feature-card {
  background: rgb(32, 32, 32);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 2px solid #858585;
}

.feature-card h3 {
  margin-bottom: 10px;
  color: #bdbbbb;
}

.feature-card p {
  color: #d3d3d3;
}

.home-footer {
  font-size: 1rem;
  color: #bfbfc0;
}
